<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lf.freemarker.dao.TableDao">
    <select id="selectAllTableName" parameterType="String" resultType="String">
        SELECT
        	table_name
        FROM
        	information_schema.TABLES
        WHERE
        	table_schema = #{databaseName}
        	AND table_type = 'base table'
    </select>

    <select id="selectAllTableInfo" parameterType="string" resultType="tableInfo">
         SELECT
        	column_name,
        	data_type,
        	column_key,
        	column_comment
        FROM
        	information_schema.COLUMNS
        WHERE
        	table_schema = #{param1}
        	AND table_name = #{param2}
    </select>

	<cache />
</mapper>
